@import url(//fonts.googleapis.com/css?family=Lato:700);

body {
	margin:0;
	font-family:'Lato', sans-serif;
	text-align:center;
	Xcolor: #FFFFFF;
	Xbackground: #157415;
}

.welcome {

}

a, a:visited {
	text-decoration:none;
}

h1 {
	Xfont-size: 32px;
	Xmargin: 16px 0 0 0;
}

.highlight {

}
